@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

* {
  font-family: Outfit;
}

/* .active {
  background-color: #1e1e1e;
  color: #ffffff;
  border-width: 2px;
} */
